* {
	box-sizing: border-box;
}

body {
	width: 85vw;
	max-width: 1080px;
	margin: auto;

	font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.header {
	flex-direction: column;
	align-items: center;
	border-bottom: 5px groove #3268AD;
}

.logo {
	margin: 5px;
}

.logo-img {
	max-width: 100px;
	border-radius: 50%;
	border: 2px outset #3268AD;
}

.name {
	text-align: center;
}

.name * {
	margin: 0;
	font-weight: 500;
}

.name h1 {
	font-size: 40px;
}

.name h3 {
	font-size: 18px;
}

.primary-image-container {
	margin-top: 20px;
}

.primary-image {
	width: 100%;
}

#featured-work-header {
	min-width: 100%;
	margin: 10px 0;
	text-align-last: center;

	font-size: 30px;
    font-weight: 800;
    color: #314D5F;

}

.featured-work {
	width: 100%;
	justify-content: space-evenly;

	font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
	text-align: center;
}

.featured-work article {
	margin: 5px 0;
	width: 80%;
}

.featured-work article:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.4)
}

.article-img a img {
	display: block;
	width: 80%;
	margin: auto;
}

.project-info-container {
	display: block;
}

.project-info-container * {
	margin: 5px 0;
}

.work-title {
	font-size: 18px;
	font-weight: 600;
}

.work-link {
	font-size: 14px;
	overflow-wrap: break-word;
}

.work-description {
	display: none;
}

@media screen and (min-width: 421px){

	.header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.name {
		text-align: right;
	}

	.featured-work article {
		width: 40%;
	}
}

@media screen and (min-width: 700px){

	#featured-work-header {
		text-align-last: left;
	}

	.featured-work {
		display: block;
	}

	.featured-work article {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
	}

	.featured-work article:nth-child(odd) {
		background-color: #EFF9FD;
	}

	.featured-work article:nth-child(even) :nth-child(1) {
		order: 1;
	}

	.featured-work article:nth-child(even) :nth-child(2) {
		order: 0;
	}

	.article-img {
		width: 30%;
	}

	.article-img a img {
		width: 100%;
		margin: auto 0;
	}

	.project-info-container {
		width: 70%;
	}

	.work-description {
		display: block;
	}
}
