/*Main CSS for screen width < 475px. Media queries at bottom of file adjust CSS for larger screens*/

/***************STYLES APPLIED TO ENTIRE PAGE*******************/

* {
	box-sizing: border-box;
}

body {
	width: 85vw;
	max-width: 1080px;
	margin: auto;

	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

/*****************HEADER***************************************/

.header {
	flex-direction: column;
	align-items: center;
	border-bottom: 5px groove #3268ad;
}

.logo {
	margin: 5px;
}

.logo-img {
	max-width: 100px;
	border-radius: 50%;
	border: 2px outset #3268ad;
}

.name {
	text-align: center;
}

.name * {
	margin: 0;
	font-weight: 500;
}

.name h1 {
	font-size: 40px;
}

.name h3 {
	font-size: 18px;
}

/**************PRIMARY IMAGE******************************/

.primary-image-container {
	position: relative;
	margin-top: 20px;
}

.primary-image {
	width: 100%;
}

.img-citation {
	position: absolute;
	font-size: 2.2vw;
	font-style: italic;
	font-weight: 700;
	left: 1%;
	bottom: 0;
	color: #c1bea2;
}

/************FEATURED WORK********************************/

#featured-work-header {
	min-width: 100%;
	margin: 10px 0;
	text-align-last: center;

	font-size: 30px;
    font-weight: 800;
    color: #314d5f;
}

.featured-work {
	width: 100%;
	justify-content: space-evenly;

	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
}

.featured-work article {
	margin: 5px 0;
	width: 80%;
}

.featured-work article:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.4)
}

/*MAKE THE ANCHOR TAG ACT AS A BLOCK FLEX ITEM*/
.article-img a img {
	display: block;
	width: 80%;
	margin: auto;
}

.project-info-container {
	display: block;
}

.project-info-container * {
	margin: 5px 0;
}

.work-title {
	font-size: 18px;
	font-weight: 600;
}

.work-link {
	font-size: 14px;
	overflow-wrap: break-word;
}

/*HIDE WORK DESCRIPTION ON SMALLER SCREENS*/
.work-description {
	display: none;
}

/*****************MEDIA QUERIES*******************************/

/*****************MEDIUM VIEWPORT*****************************/

@media screen and (min-width: 475px) {

	.header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.name {
		text-align: right;
	}

	.featured-work article {
		width: 40%;
	}
}

/****************LARGE VIEWPORT*********************************/

@media screen and (min-width: 800px) {

	#featured-work-header {
		text-align-last: left;
	}

	/*REMOVE display:flex FROM .featured-work div*/
	.featured-work {
		display: block;
	}

	/*MAKE EACH ARTICLE A FLEX CONTAINER*/
	.featured-work article {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;

		width: 100%;
	}

	/*MAKE FEATURED WORK ARTICLE ALTERNATE ORDERING AND BACKGROUND COLOR*/
	.featured-work article:nth-child(odd) {
		background-color: #eff9fd;
	}

	.featured-work article:nth-child(even) :nth-child(1) {
		order: 1;
	}

	.featured-work article:nth-child(even) :nth-child(2) {
		order: 0;
	}

	.article-img {
		width: 30%;
	}

	.article-img a img {
		min-width: 100%;
		margin: auto 0;
	}

	.project-info-container {
		width: 70%;
	}

	/*REMOVE display:none FROM WORK DESCRIPTION*/
	.work-description {
		display: block;
	}
}

@media screen and (min-width: 1080px) {

	/*PREVENT TEXT FROM CONTINUING TO GROW*/
	.img-citation {
		font-size: 23px;
	}
}